{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .form-floating>.form-control,
        .form-floating>.form-control-plaintext {
            padding: 0rem 0.75rem;
            height: calc(2.5rem + 3px);
            line-height: 1;
        }

        .form-floating>label {
            color: rgb(95, 95, 95);
            padding: 0.75rem 0.75rem;
            font-size: 13px;
            font-weight: 500;
        }

        .form-floating>input {
            font-size: 14px;
            font-weight: 450;
        }

    </style>
    <script>
        $(window).load(function() {
            $('login-form').get(0).reset(); //clear form data on page load
        });
        // $('login-form').each(function() {
        //     this.reset();
        // });
        // $(window).load(function() {
        //     $('login-form').reset(); //clear form data on page load
        // });
    </script>
</head>

<body class="body1"> 
    <div class = "login vh-100 d-flex justify-content-center align-items-center">
        <div class="card text-center mx-2 m-10 shadow" style="width: 20rem">
            <div class="card-body" style="font-weight: 500">
                <h4 class="card-title mt-3 mb-4 fw-bold">Login</h4>
                <form method="POST" action="" id="login-form">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <div class="input-group mb-2">
                                <span class="input-group-text bg-white">
                                    <span class="bi-file-earmark-person" ></span>
                                </span>
                                <div class="form-floating">
                                    <input class="form-control" type="text" name="email" placeholder="Username or Email" >
                                    <label for="email">Username or Email</label>
                                </div>
                            </div>
                        </tr>   
                        
                        <tr>
                            <div class="input-group mb-2">
                                <span class="input-group-text bg-white">
                                    <span class="bi-lock" ></span>
                                </span>
                                <div class="form-floating">
                                    <input style="font-size: 13px" type="password" name="password" placeholder="Password" class="form-control">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        </tr>  

                        <input class="btn login_btn mt-3 mb-15" 
                        style="background: #e59560; color:white; font-size: 14px; border-radius: 20px; width:40%" 
                        onmouseover="this.style.backgroundColor='#555'" 
                        onmouseout="this.style.backgroundColor='#e59560'" type="submit" value="Login">
                    
                    </table>
                </form>
            </div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                    <p style="font-size: 13px; text-align: center; color:red; margin-left: 2rem; margin-right: 2rem">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
            <div class="card-footer text-muted">
                <p class="mt-2 mb-0" style="font-size: 14px">Belum mempunyai akun?</p> 
                <a class="btn btn-outline-dark mt-2 mb-3" style="font-size: 13px; border-radius: 20px; width:7rem" role="button" href="{% url 'account:signup' %}"> Buat Akun</a>
            </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>


{% endblock content %}