<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.google.com/specimen/Poppins" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Seller Registration Page</title>
  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                      <h1>Seller Registration Page</h1>
                </div>
                  <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Fill the form
                {% endif %}
              </span>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group first">
                      <label for="nama">Nama</label>
                        {{ form.nama }}
                    </div>
                  <div class="form-group first">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">confirm Password</label>
                      {{ form.password2 }}
                  </div>
                  <div class="form-group first">
                    <label for="namausaha">Nama Usaha</label>
                      {{ form.namausaha }}
                  </div>
                  <!-- DROPDOWN KATEGORI blm dibikin -->

                  <div class="form-group first">
                    <label for="deskripsi">Deskripsi singkat usaha</label>
                      {{ form.deskripsi }}
                  </div>

                  <div class="form-group first">
                    <label for="alamat">Alamat usaha</label>
                      {{ form.alamat }}
                  </div>

                  <div class="form-group first">
                    <label for="kontak">Kontak Pribadi / Usaha </label>
                      {{ form.kontak }}
                  </div>

                  <div class="form-group first">
                    <label for="linktoko">Link ke toko anda</label>
                      {{ form.linktoko }}
                  </div>

                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Saya ingin mendaftar sebagai penjual</span>
                        {{ form.is_seller }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>

                    <span class="text-error">{{ form.errors }}</span>
                  <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
