<div class="navbar navbar-light navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <div class="navbar-brand mx-5">
        <img
          src=""
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        <a href="#" style="color: white; text-decoration: none">MedsosUMKM</a>
      </div>
      <div class="container-flex justify-content-space-between mx-5">
        <a
          href="#"
          class="mx-2"
          style="color: white; text-decoration: none; text-align: right"
          >Home</a
        >
        <a
          href="#"
          class="mx-2"
          style="color: white; text-decoration: none; text-align: right"
          >Catalog</a
        >
        <a role="button" class="btn btn-light mx-2" style="text-align: right"
          >Login</a
        >
      </div>
    </div>
  </div>