{% extends 'base.html' %} {% block content %}

<style>
  h1 {
    text-align: center;
    color: blue;
  }
  #plis {
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    background-color: lightblue;
  }
</style>

<div id="plis">
  <h1>Create Kategori</h1>

  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <b>Nama Kategori</b>
    <input type="text" name="nama" class="form-control" />
    <b>Deskripsi Kategori</b>
    <input type="text" name="deskripsi" class="form-control" />
    <b>Input Image</b>
    <br />
    <input type="file" name="upload" accept="image/*" />
    <br />
    <input type="submit" name="submit" value="Create" />
  </form>
</div>

{% endblock content %}
