<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <title>Profile</title>
    </head>

    <body>
        <h1>Your Profile<h1>
        <hr>
        <div class="profile-data">
            {% if user.is_authenticated %}
                <label for="nama">Nama: </label>
                <p id="nama">{{user.nama}}</p>
                <label for="username">Username: </label>
                <p id="username">{{user.username}}</p>
                <label for="email">Email: </label>
                <p id="email">{{user.email}}</p>
                <label for="password">Password: </label>
                <p id="password">{{user.password1}}</p>
            {% endif %}

            <a class="edit-profile" href="/profile_handler/edit/buyer/">Edit</a>
        </div>
    </body>
</html>