{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'edits.css' %}">
    <title>Edit Profile</title>
  </head>

  <body>
    <div class="navbar navbar-light navbar-expand-lg bg-primary">
      <div class="container-fluid" id="container-navbar">
        <div class="navbar-brand mx-5">        
          <a href="#" style="color: white; text-decoration: none">MedsosUMKM</a>
        </div>

          <div class="container-flex justify-content-space-between mx-5">
            <a
              href="{% url 'account:seller' %}"
              class="mx-2"
              style="color: white; text-decoration: none; text-align: right"
              >Home</a
            >
            <a
              href=""
              class="mx-2"
              style="color: white; text-decoration: none; text-align: right"
              >Catalog</a
            >
            <a
              href="/profile_handler/"
              class="mx-2"
              style="color: white; text-decoration: none; text-align: right"
              >Profile</a
            >
            <a role="button" href="{% url 'account:logout' %}" class="btn btn-light mx-2" style="text-align: right"
              >Logout</a
            >
          </div>

      </div>
    </div>

    <div class="container rounded bg-white mt-5 mb-5 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="row">
                <h2 class="text-center">Edit Your Profile</h2>

                <div class="text">
                  <hr>
                  <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <input class="save btn btn-primary btn-form" type="submit" value="Save">
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>