<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <title>Change Password</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
    </head>

    <!-- <body>
        <h1>Change Your Password<h1>
        <hr>
        <form action="" method="POST"}>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Change Password</button>
        </form>
        </div>


        
    </body> -->

    <body>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-10 offset-2">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="row">
                            <h4 class="text-center">Change Your Password</h4>
                            <div class="text">
                            <hr>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <hr>
                                <button class="btn btn-primary">Change Password</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    body {
    background: -webkit-gradient(linear, left top, right top, from(#3193d5), to(#405ad9));
    background: linear-gradient(to right, #566fd3, #7ec4ef);
}

.text{
    text-align: left;
}
</style>


</html>