{% extends 'base.html' %} {% load static %} {% block content %}
<html>
    <head>
        <script>$(document).ready(() => {
            $.get('/katalog/show_json_produk/'+id, (tokos) => {
              tokos.forEach((toko) => {
                $('#row').append(`
                <div class="col-4 mt-4 mb-4">
                    <div class="card text-center h-100">
                        <img class="img-responsive pt-3" src="{% static '/images/2.jpg' %}" alt="Gambar toko">
                      <div class="card-body">
                        <div class="card-title" style="text-align: left">
                            <h5 class="namaToko pt-4"><b>Toko {{toko.nama_toko}}</b></h4>
                            <h7 class="deskripsi">{{toko.email}}</h5>
                        </div>
                        <div class="float-end pb-3">
                            <button class="align-self-end btn btn-primary btn-lg" style="margin-top: auto;">Lihat Toko</button>
                        </div>
                      </div>
                    </div>
                  </div>
                `)
              })
            })
        })
        </script>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#"></a>
        </nav>
        <div class="px-5 py-3">
            <div class="text-left">
                <h1> Kategori {{kategori}} </h1>
                {% comment %} foto kategori disini {% endcomment %}
                <img class="img-fluid" src="{% static 'images/4.jpg' %}" alt="Gambar kategori">
                <h5>{{deskripsi}}</h5>
            </div>
    
            <div class="text-left pt-5">
                <h1> Toko Terkait Kategori Tersebut</h1>
            </div>
            
            <div class="container-lg mt-4 justify-content-center align-item-center">
                <div class="row">
                {% for toko in tokos %}
                  <div class="col-4 mt-4 mb-4">
                    <div class="card text-center h-100">
                        <img class="img-responsive pt-3" src="{% static '/images/2.jpg' %}" alt="Gambar toko">
                      <div class="card-body">
                        <div class="card-title" style="text-align: left">
                            <h5 class="namaToko pt-4"><b>Toko {{toko.nama_toko}}</b></h4>
                            <h7 class="deskripsi">{{toko.email}}</h5>
                        </div>
                        <div class="float-end pb-3">
                            <button class="align-self-end btn btn-primary btn-lg" style="margin-top: auto;">
                                <a href="{% url 'katalog:show_produk_detail' toko.id %}" class="link-light">Lihat Toko</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}